<li [class]="getItemVariant()" class="row">
    <div class="col">
        <p>Tâche à faire : {{task.title}}</p>
    </div>
    <div class="col">
        <span>Modifier la tâche : </span> 
        <input type="text" [(ngModel)]="task.title">
    </div>
    <div class="col">
        Créée le {{task.created | date:"dd/MM/y hh:mm" }}
    </div>
    <div class="col">
        Status : <span [class]="getBadgeVariant()">{{getComplete()}}</span>
        <button mat-flat-button (click)="toggleComplete()">{{getButtonText()}}</button>
    </div>
    
</li>
<br>

