<ul>
    <!--
    <app-task [name]="name1" [task.completed]="taskComplete1" (miseAJourComplete)="majCompteur($event)"></app-task>
    <app-task [name]="name2" [task.completed]="taskComplete2" (miseAJourComplete)="majCompteur($event)"></app-task>
    <app-task [name]="name3" [task.completed]="taskComplete3" (miseAJourComplete)="majCompteur($event)"></app-task>
    -->
    <p>{{ promesseRemplirTaches | async }}</p>
    @if(tasks.length > 0) {
        @for (task of tasks; track task.id) {
            <app-task [task]="task" (miseAJourComplete)="majCompteur($event)"></app-task>
        }
    } @else {
        <p>Pas de tâches à faire</p>
    }

    @if(completion == 0) {
        <p>Il serait temps de commencer, flemmard</p>
    } @else if(completion < 50 ) {
        <p>Ca commence</p>
    } @else if(completion < 100) {
        <p>Tu y es presque</p>
    } @else {
        <p>Terminé ! Bravo</p>
    }

    

    <p>Nombre de tâches terminées : {{compteur}}</p>
</ul>




 